html,
body,
#root {
  background: #d3f5ff;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: #000157;
  height: calc(100% - 80px);
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: #61dafb;
}

header nav {
  display: flex;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 24px;
  font-size: 18px;
}

header ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}

header ul li a:hover {
  color: #777;
}
